//颜色定义规范
$color-blue=#5684ec


//背景
$color-bg-top=#3ecd94
$color-bg-item=#fff
$color-bg-main=#f6fef5
$color-bg-button=#1ea3f8
$color-bg-icon=#ebfaf4

//字体大小
$font-size-small-s= .20rem
$font-size-small= .24rem
$font-size-mid= .26rem
$font-size-btn = .28rem
$font-size-information= .30rem
$font-size-price = .32rem
$font-size-bom-box = .34rem
$font-size-lang = .36rem
$font-size-active-title = .46rem
